body{
	background-color: blue;
}
h1 ,a#footer{
	text-align: center;
	color: gold;
	background-color: black;
	padding:0;
	margin:0;
}
p {
	text-align: center;
	color: white;
}
address {
	text-align: center;
	color: white;
}
h2{
	text-align: center;
	margin:0;
	padding:0;
	background-color:white;
	color:red;
}